includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
    excludePaths:
        - src/Livewire
    level: max
    tmpDir: .phpstan
    treatPhpDocTypesAsCertain: true

    universalObjectCratesClasses:
        - Illuminate\Container\Container
